[dir="rtl"] body {
    text-align: right;
}

[dir="rtl"] .footer-topic h4 {
    text-align: right;
}

[dir="rtl"] .footer-links a:hover {
    padding-left: 0;
    padding-right: 8px;
}

[dir="rtl"] .sidebar {
    left: auto;
    right: 0;
}

[dir="rtl"] .dashboard-main {
    margin-left: 0 !important;
    margin-right: 260px !important;
}

[dir="rtl"] .dashboard-header {
    left: 0;
    right: 260px;
}

@media (max-width: 1023px) {
    [dir="rtl"] .sidebar {
        right: -260px;
        left: auto;
    }
    [dir="rtl"] .sidebar.active {
        right: 0;
        left: auto;
    }
    [dir="rtl"] .dashboard-main {
        margin-right: 0 !important;
    }
    [dir="rtl"] .dashboard-header {
        right: 0 !important;
        left: 0 !important;
    }
}

@media (max-width: 768px) {
    [dir="rtl"] .scroll-to-top-footer {
        margin-right: auto;
        margin-left: 0;
    }
}
